### Generate Random Data Set

In [1]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# Generate a large random dataset
rs = np.random.RandomState(33)

d = pd.DataFrame(data=rs.normal(size=(100, 26)), columns=list(ascii_letters[26:]))

In [5]:
d.head(10)

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,-0.318854,-1.602981,-1.535218,-0.570401,-0.216728,0.254874,-0.149450,2.010783,-0.096784,0.422202,...,-0.951219,0.832973,-1.000208,0.343463,1.546030,0.690081,-2.045853,0.334467,-0.641459,-0.222497
1,-1.230374,0.205848,0.821371,-0.493780,-1.408794,-1.216324,1.734299,-0.206790,-0.733189,0.774163,...,-0.148826,-0.606270,-1.185801,0.455504,-0.837645,-0.146961,-0.682350,1.487670,-1.094711,-1.654707
2,-0.023842,-0.363738,-0.482943,0.739577,0.611252,0.491802,1.792924,-0.683737,1.054113,-0.615562,...,-1.120717,0.991136,1.630796,-1.900090,0.062316,0.479998,0.379609,-1.512245,0.289020,0.095524
3,-0.292821,0.856582,0.933473,-0.421045,1.590430,-1.063801,2.104884,-1.090494,1.484521,-1.089229,...,0.230258,0.195235,0.535839,0.684299,2.821279,0.916504,0.150722,0.017747,0.006885,0.329035
4,-0.587376,1.751572,0.308274,-0.894283,-0.769156,0.869197,0.371381,-0.628362,-0.922477,-0.903391,...,1.519031,0.749896,-2.269087,-0.760599,-0.955502,0.923951,0.315157,1.340910,0.678992,0.594258
5,-1.118902,-0.546686,-0.541049,-1.466870,1.323851,0.344447,-1.934179,0.905662,-0.941123,0.707246,...,0.397142,-0.946225,-0.352427,0.274527,-1.386049,-1.775175,1.683865,-1.934213,-0.978937,0.386391
6,0.346235,-0.449622,-1.355818,1.192042,0.578353,-0.103730,-0.161044,0.894541,1.290747,0.108126,...,0.594309,-0.166302,1.272612,2.076016,0.052485,0.740696,0.606607,1.219077,0.000855,-0.146146
7,-0.261976,0.108848,1.017882,-1.144546,0.781887,-0.173980,-0.341525,-1.879558,-0.993942,1.021854,...,0.439146,0.998467,0.437747,-0.027217,-1.035272,0.486417,0.473810,-0.299381,-0.190314,-0.630710
8,0.196723,0.041640,-0.224855,0.432444,0.608030,0.358296,0.056806,-0.236592,0.877240,0.057214,...,0.422761,0.039107,0.164277,0.745735,0.106707,-1.300606,-0.818656,1.599970,-0.603120,-0.096894
9,-0.256457,-0.264391,0.021789,1.118757,0.086716,-0.394722,0.121662,0.610584,-1.591931,1.693947,...,-0.283728,2.209934,3.736254,0.852186,0.495830,0.380732,0.360668,0.208671,1.323454,-0.382265

In [7]:
ascii_letters[26:]

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [13]:
pd.DataFrame(np.random.normal(size=(10,10)))

,0,1,2,3,4,5,6,7,8,9
0,0.010360,-0.445855,-0.039054,-0.011894,-0.961708,-0.269560,-0.359572,-0.366955,-1.093077,-0.255624
1,0.030767,1.739309,-1.367075,-1.445203,-0.545493,0.480607,-1.593410,0.946443,1.430818,0.312476
2,0.234073,1.229533,-0.050871,-0.564845,-0.309647,-0.661617,-0.261005,-0.081068,0.428189,-1.877531
3,-0.264789,1.352524,0.205276,-0.385189,-1.420020,1.804246,0.888054,1.063360,-0.260807,0.048861
4,0.528612,-0.726697,-0.222031,0.558192,0.124300,0.457474,0.547262,-0.648232,-1.349972,-1.115342
5,1.317066,0.914694,-1.548035,-1.146492,-1.995593,-0.057970,-1.246076,-0.409632,0.756516,-0.890124
6,-0.549678,0.272697,-0.082740,0.038147,1.439210,1.162015,-0.272435,0.378418,0.597367,0.800917
7,1.337115,2.182263,-0.145846,1.460897,1.762803,0.888545,1.269800,-1.392150,-0.235298,-0.493574
8,0.049958,0.083685,0.612148,-1.037812,0.410595,0.908015,-1.774176,1.174409,2.189594,-1.362229
9,-0.529073,-0.617786,0.455803,0.409826,-0.347271,-2.296287,0.235350,-0.732603,1.295964,-0.682382

### Checking Missing Data in DF

In [20]:
# isnull test

df = pd.DataFrame({'A':[1,2,3],'B':[0,1,1]})

In [29]:
df.notnull() * 1 # if not null shows 1

   A  B
0  1  1
1  1  1
2  1  1

In [31]:
df.isnull() * 1 # if null shows 1

   A  B
0  0  0
1  0  0
2  0  0

In [28]:
df.isnull().count() # this counts ALL of the col regardless of null or not

A    3
B    3
dtype: int64

### pandas.get_dummies()

In [46]:
df1 = pd.DataFrame({ 'one':['a','b','a'], 'two':['a','b','a'], 'three':[1,2,3] }, columns = ['one','two','three'])

In [47]:
df1

  one two  three
0   a   a      1
1   b   b      2
2   a   a      3

In [48]:
pd.get_dummies(df1)

   three  one_a  one_b  two_a  two_b
0      1      1      0      1      0
1      2      0      1      0      1
2      3      1      0      1      0